{% extends 'base.html' %}

{% block 'titulo' %}Ranking de Materiais{% endblock %}

{% block 'conteudo' %}
<center>
    <h1>Ranking de Materiais</h1>
</center>

<div align="left">
    <form method="GET">
        <label for="ano">Filtrar por ano:</label>
        <select name="ano" id="ano">
            <option value="">Todos os Anos</option>
            {% for ano in anos %}
                <option value="{{ ano }}">{{ ano }}</option>
            {% endfor %}
        </select>
        <label for="mes">Filtrar por mês:</label>
        <select name="mes" id="mes">
            <option value="">Todos os Meses</option>
            {% for mes, mes_nome in meses %}
                <option value="{{ mes }}">{{ mes_nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>
</div>

<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 70vh; padding: 20px;">
    <canvas id="materiaisChart" style="width: 100%; height: 100%;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('materiaisChart').getContext('2d');
    var materiaisData = {
        labels: [{% for nome in grafico_materiais.labels %}'{{ nome }}',{% endfor %}],
        datasets: [{
            label: 'Reservas de Materiais',
            data: [{% for count in grafico_materiais.data %}{{ count }},{% endfor %}],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',  // Cor de fundo
            borderColor: 'rgba(54, 162, 235, 1)',  // Cor da borda
            borderWidth: 1
        }]
    };

    var materiaisChart = new Chart(ctx, {
        type: 'bar',  // Tipo de gráfico (barra)
        data: materiaisData,
        options: {
            responsive: true,  // Torna o gráfico responsivo
            maintainAspectRatio: false,  // Permite que a altura seja ajustada
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            tooltips: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem, data) {
                        return 'Reservas: ' + tooltipItem.raw;
                    }
                }
            }
        }
    });
</script>
{% endblock %}
