{% extends 'base.html' %}

{% block 'titulo' %}Home{% endblock %}

{% block 'conteudo' %}
{% load %}
<div class="container">
    <br>
    <br>

    <h1 class="display-4">Reserva de Salas e Materiais
        <hr style="display: block;">
    </h1>

    <p class="lead">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
            viewBox="0 0 16 16">
            <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
        </svg>
        Olá, seja bem vindo, você está logado como PROFESSOR!
    </p>

    <div class="container">
        <div class="row">
            <!-- Coluna para as reservas de Salas -->
            <div class="col-md-6">
                {% for reserva in ReservasSalas %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ reserva.salas }}</h5>
                        <p class="card-text">Data devolução: <span class="text-muted">{{ reserva.data_devolucao }}</span></p>
                        <a href="{% url 'professor:ver_salas_professor' reserva.id %}" class="btn btn-primary">Detalhes</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <!-- Coluna para as reservas de Materiais -->
            <div class="col-md-6">
                {% for reserva in ReservasMateriais %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ reserva.materiais }}</h5>
                        <p class="card-text">Data devolução: <span class="text-muted">{{ reserva.data_devolucao }}</span></p>
                        <a href="{% url 'professor:ver_materiais_professor' reserva.id %}" class="btn btn-primary">Detalhes</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
{% endblock %}
